@import "_variables.scss";
@import "_mixins.scss";

.wpduel-meta {
	@include clearfix();
	p {
		float: left;
		width: 48%;
		&.right {
			float: right;
		}
		label {
			display: block;
		}
		select {
			width: 100%;
		}
	}
}

.wpduel-contender-meta {
	.win-ratio {
		background-color: darken($white, 80%);
		color: $white;
	}
	.duels {
		padding: 0;
		ul {
			@include unstyled();
			margin-top: 12px;
			li {
				margin: 0;
				a {
					display: block;
					padding: 8px;
					background-color: darken($white, 5%);
				}
				&:nth-child(even) a {
					background-color: darken($white, 8%);
				}
			}
		}
	}
}